.contenedor {
  padding: 20px;
  margin : 20px 0;
    background-color: gray;

}

.instrucciones {
	font-family: cursive;
}

.hotel{
    border-width:5px;  
    border-bottom-style:groove;
    color: red 
 
}

.titulo {
	font font-family: cursive;
}